// Nos modules externe
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Variables et mixins
@import "variables";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset et dépendances
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Composants Bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility class
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// Base style
body {
  background: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png) no-repeat center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

// Suppression de l'outline
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0 !important; // Bootstrap override
  appearance: none; // Bootstrap override
}

// Nos modules interne
@import './modules/scrollbar/scrollbar';
@import './modules/ripple/ripple';
@import './modules/login/login';
@import './modules/message/message';
@import './modules/flash/flash';
@import './modules/dashboard/dashboard';
@import './modules/profile/profile';
