.profile-cover {
	height: 230px;
	background: url(http://media.dcentertainment.com/sites/default/files/GalleryChar_1900x900_MOS_52e05e3fe24a61.04593858.jpg) no-repeat center;
	background-size: cover;
}